@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: $font-family-sans;
    font-size: 16px;
    line-height: 1.5;
    background-color: #1c214d;
    color: $light-pink;
  }
  
  .container {
    max-width: 1200px;
    margin: 64px auto;
    width: 90%;
  }

  .link {
    color: $link-yellow;

    &:hover {
      text-shadow: 0 0 13px $link-yellow;
    }
  }