@use "./components/variables" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.6rem;
  background-color: $purple-medium;
  border-radius: 0.5rem;
  border: 1px solid $purple-light;
  transition: border 0.3s ease-in-out;

  &:hover {
    border-color: $pink-light;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: 600;
    text-align: center;
    font-family: $font-family-sans;
    line-height: 1.2;
  }

  &__link-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
