@use './styles/components/variables' as *;
@use './styles/components/reset' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-family-mono;
	background-color: $purple-dark;
	color: $pink-light;
	font-size: $font-size-body;
	line-height: 1.5;
}

.link {
	color: $yellow-link;

	&:hover {
		text-shadow: 0 0 13px $yellow-link;
	}
}
