@use "./styles/components/variables" as *;
@use "./styles/components//reset" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-mono;
  background-color: $dark-pruple;
  color: $light-pink;
}

.link {
  color: $link-yellow;
}
